@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

$Rock: 'El Messiri', sans-serif;
$MainColor: #000;
$UsedFont: Verdana, Geneva, Tahoma, sans-serif;
$Elements-Color: #fff;
$Default_Decoration:none;
$Transition: .5s;
$Distance:-150%;