@import "../Abstracts/variables";

a {
    font-family: $UsedFont;
    color: #fff;
    text-decoration: $Default_Decoration;
    margin: 10px;
    transition: $Transition;

    &:hover {
        opacity: .5;
    }
}